body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    color: #333;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}   
.quadrato {
    background:grey;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    padding: 15px;
    margin: 25px auto;
}
.quadrato-interno {
    background:lightgrey;
    width: 40%;
    height: 40%;
    border: solid 2px black;
    padding: 15px;
    margin: 25px auto;
}
.quadrato1,
.quadrato2,
.quadrato3 {
    width: 300px;
    height: 300px;
    margin: 40px auto;
    padding: 16px;
    border: solid 2px black;
    background: grey;
    box-sizing: border-box;
}
.Colosseo {
    width: 60%;
    height: 60%;
}

.quadrato1 h3 {
    margin: 0 0 12px;
    text-align: center;
}

.Tour-Eiffel {
    width: 60%;
    height: 60%;
}
.quadrato2 h3 {
    margin: 0 0 12px;
    text-align: center;
}
.Buckingham-Palace {
    width: 60%;
    height: 60%;
}
.quadrato3 h3 {
    margin: 0 0 12px;
    text-align: center;
}


